$color1: #0052f0;
$color2: #528dff;
$color3: #f8f8f8;
.contact {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  margin: 0;
  text-align: center;
  p {
    text-align: center;
    font-size: 32px;
    color: #585858;
    margin-top: 0px;
  }
}
.heading {
  font-size: 72px;
  text-align: center;
  color: $color1;
  line-height: 72px;
  margin: 0;
}

@media only screen and (max-width: 640px) {
  .contact {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    p {
      font-size: 24px;
    }
  }
  .heading {
    font-size: 48px;
    line-height: 48px;
  }
}
.social {
  width: 100%;
  img {
    width: 120px;
    height: auto;
    border-radius: 500px;
    margin: 20px;
    transition: all 2s;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg) scale(1.1);
      transition: all 0.5s;
    }
  }
}
.circle1 {
  position: fixed;
  z-index: -1;
  left: -100px;
  top: 0px;
  width: 200px;
  height: 100vh;
  border-radius: 50px;
  background-color: #528cff;
}
.circle3 {
  position: fixed;
  z-index: -1;
  right: -100px;
  top: 0px;
  width: 200px;
  height: 100vh;
  border-radius: 50px;
  background-color: #528cff;
}
.circle2 {
  position: fixed;
  z-index: -1;
  left: 50px;
  top: 10vh;
  width: 150px;
  height: 80vh;
  border-radius: 50px;
  background-color: #9abcff57;
}
.circle4 {
  position: fixed;
  z-index: -1;
  right: 50px;
  top: 10vh;
  width: 150px;
  height: 80vh;
  border-radius: 50px;
  background-color: #9abcff57;
}

@media only screen and (max-width: 640px) {
  .circle1 {
    left: -20px;
    width: 50px;
  }
  .circle3 {
    right: -20px;
    width: 50px;
  }
  .circle2 {
    top: 5vh;
    left: 10px;
    width: 60px;
  }
  .circle4 {
    top: 5vh;
    right: 10px;
    width: 60px;
  }
  .social {
    img {
      width: 90px;
      margin: 25px;
    }
  }
}
