$color1: #0052f0;
$color2: #528dff;
$color3: #f8f8f8;
.home {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  margin: 0;
  h1 {
    font-size: 72px;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
    line-height: 72px;
  }
  p {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: -30px;
    span {
      color: $color1;
    }
  }
}
.outer_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div:first-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 75%;
      height: auto;
    }
  }
  div:last-child {
    width: 50%;
    text-align: center;
    h1 {
      margin-bottom: 40px;
      margin-top: 0px;
      font-size: 48px;
      font-weight: 600;
      line-height: 52px;
      color: $color1;
      br {
        display: none;
      }
    }
    p {
      text-align: left;
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 32px;
      color: #262626;
    }
    a {
      display: inline-block;
      text-decoration: none;
      width: auto;
      padding: 10px 30px;
      font-size: 28px;
      color: #fff;
      background-color: $color1;
      border-radius: 500px;
      margin-bottom: 20px;
    }
  }
}
.contact_btn {
  display: inline-block;
  text-decoration: none;
  width: auto;
  padding: 10px 30px;
  font-size: 28px;
  color: #fff;
  background-color: $color1;
  border-radius: 500px;
  margin-bottom: 20px;
  margin: 10px 0px;
}
@media only screen and (max-width: 640px) {
  .home {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    h1 {
      font-size: 48px;
      text-align: right;
      font-weight: 700;
      margin-right: 20px;
    }
    p {
      font-size: 32px;
      text-align: right;
      font-weight: 700;
      margin-right: 20px;
    }
  }
  .outer_box {
    background-color: $color3;
    border-radius: 200px 200px 0 0;
    padding-top: 20px;
    div:first-child {
      display: none;
    }
    div:last-child {
      width: 100%;
      h1 {
        margin-top: 20px;
        font-size: 52px;
        line-height: 60px;
        text-align: center;
        br {
          display: block;
        }
      }
      p {
        text-align: left;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 28px;
        padding-left: 20px;
        padding-right: 15px;
        color: #585858;
      }
    }
  }
}
