$color1: #0052f0;
$color2: #528dff;
$color3: #f8f8f8;
.skills {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  margin: 0;
  text-align: center;

  .all_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
  }
}
.heading {
  font-size: 72px;
  text-align: center;
  color: $color1;
  line-height: 72px;
  margin: 0;
}
.each_skill {
  padding: 20px 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;

  img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 500px;
    width: 160px;
    height: auto;
    transition: all 0.5s;
    &:hover {
      box-shadow: $color1 0px 2px 8px 0px;
      cursor: pointer;
      transition: all 0.5s;
    }
  }
}
@media only screen and (max-width: 640px) {
  .skills {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    .all_skills {
      padding: 15px;
    }
  }
  .each_skill {
    padding: 10px;
    font-size: 16px;

    img {
      width: 80px;
    }
  }
  .heading {
    font-size: 48px;
  }
}
